:root {
    --bgcolor: #e8d2ae;
    --primarytext: ;
    --txtcolor: white;
    --secondary: #796465;
    --third: #d7b29d;
}
body {
    background-image: url(/FinalAssignmentMcCann/media/images/restaurant/android-chrome-512x512.png);
    text-align: center;
    margin: 0;
    background-color: var(--bgcolor);
    color: black;
    text-decoration: none;
}
body li {
    text-decoration: none;
    list-style-type: none;
}

body img {
    display: block;
    margin: auto;
    width: 75%;
}
header {
    background-color: var(--secondary);
}
header nav ul li {
    list-style: none;
    display: flex;
}
nav ul{
    display: flex;
    background-color: var(--secondary);
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    color: white;
    font-size: 30pt;
}
header nav ul li a {
    text-decoration: none;
    color: white;
}
header nav ul li a:visited {
    text-decoration: none;
    color: var(--txtcolor);
}
header nav ul li a:hover {
    text-decoration: none;
    color: var(--txtcolor);
    background-color: lightgrey !important;
}
header nav ul li a:active {
    text-decoration: none;
    color: var(--txtcolor);
    background-color: var(--third) !important;
}

footer {
    background-color: var(--secondary);
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 14pt;
    color: white;
}